<container class="fullwidthimagecenterblock mobile-hide">
        <row class="collapse text-center">
            <columns small="12">
                <p><img src="http://placehold.it/600x230"></p>
            </columns>
        </row>
        <row class="text-center">
            <columns small="12">
                <h2 class="text-center" style="text-align:center">Subhead 22 Bold</h2>
                <p class="text-center">16 Regular 25 line height psum dolor sit amet, consectetur adipisicing elt, sed do eiusmod tempor incididunt ut labore et dolore magatarum. Sed qis taquam est, qui dolorem ipsum quia dolor sit amet, consectetit, sed qui incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                <center><button class="large" href="#">SHOP NOW</button></center>
                <spacer size="40px"></spacer>
            </columns>
        </row>
</container>