 <container class="headline28bold line25">
        <row>
            <columns small="12">
                <spacer size="20"></spacer>
                <h1>Headline 28 Bold</h1>
                <h6>Optional Subhead 18 Regular</h6>
                <p>16 Regular 25 line height ipsum dolor sit amet, consectetur adipiscing elit. Sed a mi ipsum. Suspendisse at diam lacinia neque elementum lacinia vel ut lorem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse potenti. Praesent ac suscipit augue. Sed vitae placerat nisl. Mauris fringilla massa enim, in dignissim neque luctus vel. Nulla lobortis auctor urna, vel dignissim turpis hendrerit pulvinar. Ut sollicitudin mauris eu mi commodo ornare. </p>
                <ul class="large-hide green-li">
                    <li><span>Anim id est laborum. Sed qis taquam est</span></li>
                    <li><span>Tui dolorem ipsum quia dolor sit amet</span></li>
                    <li><span>Rabore et dolore magnam aliquam quaret voluptatem.</span></li>
                </ul>
                <button class="large small-expanded" href="#">LEARN MORE</button>
                <spacer size="50"></spacer>
            </columns>
        </row>
</container>