<container>
    <row class="collapse no-background">
      <columns small="12">
          <spacer size="20"></spacer>
          <p class="text-center">Checkout NewWave for Your Business</p>
          <spacer size="16"></spacer>
      </columns>
    </row>
</container>
<container class="header" style="background-color:#000000;">
    <row class="collapse">
      <columns small="12">
        <a href="http://newwavebusiness.com/" target="_blank">
            <img alt="New Wave" border="0" class="img-max" width="320" src="https://gallery.mailchimp.com/1493368071bbde014fe2c9550/images/d50930a3-a701-4665-8e2c-6c74fe2ee640.jpg">
          </a>
      </columns>
    </row>
</container>