<container class="imageleftrightblock line23 mobile-hide">
        <row>
            <columns small="12" large="5">
                <p><img src="http://placehold.it/195x210"></p>
            </columns>
            <columns small="12" large="7">
                <h2>Subhead 22 Bold</h2>
                <p>16 Regular 23 line height dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut proident, dunt in cupla qui officia deserunt mollit.</p>
                <button class="large" href="#">SHOP NOW</button>
                <spacer size="40"></spacer>
            </columns>
        </row>
        <row>
            <columns small="12" large="7">
                <h2>Subhead 22 Bold</h2>
                <p>16 Regular 23 line height dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut proident, dunt in cupla qui officia deserunt mollit.</p>
                <button class="large" href="#">SHOP NOW</button>
            </columns>
            <columns small="12" large="5">
                <p><img src="http://placehold.it/195x210"></p>
                <spacer size="40"></spacer>
            </columns>
        </row>
</container>