<container class="sixthContentBlock mobile-hide">
        <row>
            <columns small="12" large="5">
                <p><img src="http://placehold.it/195x210"></p>
            </columns>
            <columns small="12" large="7">
                <h2>Subhead 22 Bold</h2>
                <ul class="nopad green-li">
                    <li><span>Anim id est laborum. Sed qis taqua est</span></li>
                    <li><span>Tui dolorem ipsum quia dolor sit amet</span></li>
                    <li><span>Rabore et dolore magnam aliquam quaerat voluptatem.</span></li>
                </ul>
                <button class="large" href="#">SHOP NOW</button>
                <spacer size="40px"></spacer>
            </columns>
        </row>
        <row>
            <columns small="12" large="7">
                <h2>Subhead 22 Bold</h2>
                <ul class="nopad green-li">
                    <li><span>Anim id est laborum. Sed qis taqua est</span></li>
                    <li><span>Tui dolorem ipsum quia dolor sit amet</span></li>
                    <li><span>Rabore et dolore magnam aliquam quaerat voluptatem.</span></li>
                </ul>
                <button class="large" href="#">SHOP NOW</button>
            </columns>
            <columns small="12" large="5">
                <p><img src="http://placehold.it/195x210"></p>
                <spacer size="40px"></spacer>
            </columns>
        </row>
    </container>