
<center>
    <table class="menu " style="max-width:600px;">
      <tr>
        <td>
          <spacer size="40px"></spacer>
          <table class="mobile-hide" style="max-width:600px;">
            <tr>
              <th class="menu-item" style="padding-right:0px !important;padding-left:0px !important;"><button class="button" href="https://www.newwavecom.com/my-account/">PAY MY BILL</button></th>
              <th class="menu-item" style="padding-right:0px !important;"><button class="button" href="https://www.newwavecom.com/help-center/">HELP CENTER</button></th>
              <th class="menu-item" style="padding-right:0px !important;"><button class="button" href="https://www.newwavecom.com/locations/">LOCATIONS</button></th>
                <th class="menu-item" style="padding-right:0px !important;"><button class="button" href="https://secure.livechatinc.com/licence/1442492/open_chat.cgi">CHAT ONLINE</button></th>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <container>
        <row class="no-background">
            <columns>
                <center><a href="http://newwavebusiness.com/" style="text-decoration:none !important;color:#04b62b !important;">NEWWAVE.COM</a> <span style="color:#04b62b;">|</span> 1.866.460.9283 <span style="color:#04b62b;">|</span> isales@newwavecom.com</center><br>
                            <br>
                            <center>
                                <span style="font-family:arial, helvetica, sans-serif; font-size:12px; color:#7b7a7a">You received this email as an update to your service, If you'd rather not receive email updates from NewWave, you can <a href="http://rlci.us2.list-manage2.com/unsubscribe?u=1493368071bbde014fe2c9550&amp;id=12f3b7f3cf&amp;e=%5BUNIQID%5D&amp;c=6687a4552e" style="color:#04b62b !important;text-decoration:none !important;">unsubscribe</a>.<br>
                                <br>
                                © 2017 NewWave Communications<br>
                                One Montgomery Plaza, Fourth Floor, Sikeston, MO 63801</span>
                    </center>
                <spacer size="100"></spacer>
            </columns>
        </row>
    </container>
</center>