 <container class="nopadleftrightimageblock line23 mobile-hide">
        <row class="collapse" style="padding-left:0px !important;">
            <columns small="12" large="5" class="text-left">
                <p><img src="http://placehold.it/225x205"></p>
            </columns>
            <columns small="12" large="7">
                <h2>Subhead 22 Bold</h2>
                <p>16 Regular 23 line height dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut proident, dunt in cupla qui officia deserunt mollit.</p>
                <button class="large" href="#">SHOP NOW</button>
                <spacer size="40px"></spacer>
            </columns>
        </row>
        <row>
            <columns class="first" small="12" large="7">
                <h2>Subhead 22 Bold</h2>
                <p>16 Regular 23 line height dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut proident, dunt in cupla qui officia deserunt mollit.</p>
                <button class="large" href="#">SHOP NOW</button>
            </columns>
            <columns small="12" large="5" class="first text-right" style="padding-right:0px;">
                <p class="text-right" style="float:right !important;">
                    <img class="text-right" src="http://placehold.it/225x205">
                </p>
                <spacer size="40px"></spacer>
            </columns>
        </row>
    </container>