<container class="optionalmaintext mobile-hide">
        <row>
            <columns small="12">
                <h1>Optional Main Text</h1>
                <h6>Optional Subhead</h6>
                <p>16 Regular lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a mi ipsum. Suspendisse at diam lacinia neque elementum lacinia vel ut lorem. </p>
                <ul class="nopad green-li">
                    <li><span>Scalable solutions for companies of all sizes</span></li>
                    <li><span>Professional on-site business installation</span></li>
                    <li><span>U.S.-based technical support</span></li>
                    <li><span>Still in a contract?  We'll help pay your early termination fee.</span></li>
                </ul>
                <button class="large" href="#">LEARN MORE</button>
                <spacer size="50"></spacer>
            </columns>
        </row>
    </container>