<container class="threeimageblock line22 mobile-hide">
        <row>
            <columns small="12" large="4">
                <p><img src="http://placehold.it/180x150"></p>
                <h5>Subhead 20 Bold</h5>
                <p>16 Regular 22 line height dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut proident, dunt in cupla qui officia deserunt mollit.</p>
                <a class="green" href="">Read more...</a>
            </columns>
            <columns small="12" large="4">
                <p><img src="http://placehold.it/180x150"></p>
                <h5>Subhead 20 Bold</h5>
                <p>16 Regular 22 line height dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut proident, dunt in cupla qui officia deserunt mollit.</p>
                <a class="green" href="">Read more...</a>
            </columns>
            <columns small="12" large="4">
                <p><img src="http://placehold.it/180x150"></p>
                <h5>Subhead 20 Bold</h5>
                <p>16 Regular 22 line height dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut proident, dunt in cupla qui officia deserunt mollit.</p>
                <a class="green" href="">Read more...</a>
            </columns>
        </row>
</container>