<container class="twoimageblock line23">
        <row>
            <columns small="12" large="6">
                <p class="small-center"><img src="http://placehold.it/260x150"></p>
                <spacer size="10"></spacer>
                <h2 class="small-center">Subhead 22 Bold</h2>
                <p class="small-center">16 Regular 23 line height dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut proident, dunt in cupla qui officia deserunt mollit.</p>
                <spacer size="20"></spacer>
                <button class="large small-expanded" href="#">LEARN MORE</button>
                <spacer size="40"></spacer>
            </columns>
            <columns small="12" large="6">
                <p class="small-center"><img src="http://placehold.it/260x150"></p>
                <spacer size="10"></spacer>
                <h2 class="small-center">Subhead 22 Bold</h2>
                <p class="small-center mobile-hide">16 Regular 23 line height dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut proident, dunt in cupla qui officia deserunt mollit.</p>
                <ul class="green-li large-hide">
                    <li><span>Anim id est laborum. Sed qis taquam est</span></li>
                    <li><span>Tui dolorem ipsum quia dolor sit amet</span></li>
                    <li><span>Rabore et dolore magnam aliquam quaerat voluptatem.</span></li>
                </ul>
                <spacer size="20"></spacer>
                <button class="large small-expanded" href="#">SHOP NOW</button>
                <spacer size="40"></spacer>
            </columns>
        </row>
</container>